<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alert</key>
	<dict>
		<key>button</key>
		<dict>
			<key>default</key>
			<dict>
				<key>bold</key>
				<false/>
				<key>titleColor</key>
				<string>#FF007AFF</string>
				<key>onPressTitleColor</key>
				<string>#FF007AFF</string>
				<key>backgroundColor</key>
				<string>#FFFFFFFF</string>
				<key>onPressBackgroundColor</key>
				<string>#FFFAFAFA</string>
			</dict>
			<key>negative</key>
			<dict>
				<key>bold</key>
				<true/>
				<key>titleColor</key>
				<string>#FFFF0000</string>
				<key>onPressTitleColor</key>
				<string>#FFFF0000</string>
				<key>backgroundColor</key>
				<string>#FFFFFFFF</string>
				<key>onPressBackgroundColor</key>
				<string>#FFFAFAFA</string>
			</dict>
		</dict>
		<key>dimissOnTapOutside</key>
		<false/>
		<key>contentBackground</key>
		<dict>
			<key>glossy</key>
			<dict>
				<key>tintColor</key>
				<string>#FFFF0A0A</string>
			</dict>
			<key>solid</key>
			<dict>
				<key>color</key>
				<string>#FFFFFFFF</string>
			</dict>
		</dict>
		<key>background</key>
		<dict>
			<key>opacity</key>
			<dict>
				<key>tintColor</key>
				<string>#7FE0E0E0</string>
			</dict>
			<key>blur</key>
			<dict>
				<key>tintColor</key>
				<string>#FF0A0A0A</string>
			</dict>
		</dict>
		<key>dimensions</key>
		<dict>
			<key>cornerRadius</key>
			<integer>2</integer>
			<key>height</key>
			<integer>500</integer>
			<key>width</key>
			<integer>300</integer>
		</dict>
	</dict>
</dict>
</plist>
