<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alert</key>
	<dict>
		<key>header</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FF2979FF</string>
			<key>titleColor</key>
			<string>#FFFFFFFF</string>
			<key>subTitleColor</key>
			<string>#FFFFFFFF</string>
			<key>subTitleTextAlignment</key>
			<integer>1</integer>
			<key>titleTextAlignment</key>
			<integer>1</integer>
			<key>padding</key>
			<integer>24</integer>
		</dict>
		<key>button</key>
		<dict>
			<key>default</key>
			<dict>
				<key>bold</key>
				<false/>
				<key>titleColor</key>
				<string>#FF007AFF</string>
				<key>onPressTitleColor</key>
				<string>#FF007AFF</string>
				<key>backgroundColor</key>
				<string>#FFFFFFFF</string>
				<key>onPressBackgroundColor</key>
				<string>#FFF5F5F5</string>
			</dict>
			<key>positive</key>
			<dict>
				<key>bold</key>
				<true/>
				<key>titleColor</key>
				<string>#FF007AFF</string>
				<key>onPressTitleColor</key>
				<string>#FF007AFF</string>
				<key>backgroundColor</key>
				<string>#FFFFFFFF</string>
				<key>onPressBackgroundColor</key>
				<string>#FFF5F5F5</string>
			</dict>
			<key>negative</key>
			<dict>
				<key>bold</key>
				<true/>
				<key>titleColor</key>
				<string>#FFFFFFFF</string>
				<key>onPressTitleColor</key>
				<string>#FFFFFFFF</string>
				<key>backgroundColor</key>
				<string>#FFFF0000</string>
				<key>onPressBackgroundColor</key>
				<string>#FFF5F5F5</string>
			</dict>
		</dict>
		<key>dismissOnTapOutside</key>
		<false/>
		<key>contentBackground</key>
		<dict>
			<key>style</key>
			<string>solid</string>
			<key>glossy</key>
			<dict>
				<key>tintColor</key>
				<string>#FFFFFFFF</string>
			</dict>
			<key>solid</key>
			<dict>
				<key>color</key>
				<string>#FFFFFFFF</string>
			</dict>
		</dict>
		<key>background</key>
		<dict>
			<key>opacity</key>
			<dict>
				<key>tintColor</key>
				<string>#535A5A5A</string>
			</dict>
			<key>blur</key>
			<dict>
				<key>tintColor</key>
				<string>#FF0A0A0A</string>
			</dict>
		</dict>
		<key>dimensions</key>
		<dict>
			<key>potrait</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>500</integer>
			</dict>
			<key>flexibleHeight</key>
			<true/>
			<key>landscape</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>300</integer>
			</dict>
			<key>cornerRadius</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
